* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.features {
  display: flex;
  background: #F2F5F9;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.feature {
  background: #FFF;
  padding: 50px 30px;
  width: 30%;
  margin: 10px 0;
  box-shadow: 0 15px 99px #E0EBFFBF;
  border-radius: 56px;
  text-align: center;
}
.feature:nth-child(4n+3) {
  break-after: always;
}

@media (max-width: 760px) {
  .feature {
    width: 100%
  }
}